<div class="phoneWrapper">
    <div class="playBtn absolute inset-0 flex justify-center items-center cursor-pointer">
        <button
            class="font-icons text-xl md:text-4xl text-white opacity-80 hover:opacity-100 transition-opacity duration-300">
            &#9658;
        </button>
    </div>
    <video class="self-center">
        <source src="{{src}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>