<section id="coverLetter" data-collapsed="false" class="overflow-hidden">
	<div id="coverLetterToggle" class="toggler">
		<h2>
			Cover Letter
			<span id="coverLetterCaret" class="ml-2 inline-block font-icons">
				&#59758;
			</span>
		</h2>
	</div>
	<p>
		Dear reader,
	</p>
	<p class="dropcap">
		<span class="relative top-[-0.5em]">
			M
		</span>
		y name is Eric Fletcher, and for the past 10 years I've organized, designed, and produced
		worldwide retail marketing campaigns for Microsoft's consumer product division—including the
		Windows, Surface, Microsoft 365, Xbox, and PC&nbsp;Accessory lines of business.
	</p>
	<p>
		The breadth and depth of my experience, coupled with a bit of talent, resourcefulness, and a
		compulsion for learning new things, has given me invaluable perspective and a uniquely rich skill
		set.
	</p>
	<p>
		I've modeled in-store Xbox displays for Best Buy, designed and developed interactive rich media
		banners for Windows, built responsive email templates for Microsoft 365, and designed bespoke
		marketing kits for social media influencers.
	</p>
	<p>
		I've redesigned and localized high-traffic websites into 26 different languages for as many
		markets, built an AI image generation program using open-source Stable Diffusion models, and
		authored a new framework and dev platform for creating infinitely responsive HTML banners.
	</p>
	<p>
		My wheelhouse is big, but I've also learned the importance of operating within my purview,
		understanding when taking creative initiative is and isn't appropriate, and enthusiastically
		seeking out and incorporating client feedback.
	</p>
	<p>
		I've managed a team as large as 7, and I've produced entire digital campaigns on my own, but I
		also enjoy contributing to projects in a team setting. I'm an excellent communicator, and I'm not
		afraid to ask questions! New challenges excite me, and I look forward to learning about yours.
	</p>
	<p class="mb-10">
		— Eric
	</p>
</section>