<section id="coverLetter" data-collapsed="true" class="overflow-hidden">
	<div id="coverLetterToggle" class="toggler">
		<div class="flex gap-3 items-center">
			<div class="font-icons text-2xl mt-1 text-neutral-600 dark:text-neutral-200;">&#60097;</div>
			<h2>
				Cover Letter
				<span id="coverLetterCaret" class="ml-2 inline-block font-icons">
					&#59758;
				</span>
			</h2>
		</div>
	</div>
	<p>
		Dear reader,
	</p>
	<p class="dropcap">
		<span class="relative top-[-0.5em]">
			M
		</span>
		y name is Eric Fletcher, and for more than 10 years I've organized, designed, and produced worldwide retail
		marketing campaigns for high-profile clients including Microsoft's various lines of business. I'm resourceful,
		incredibly organized, fairly talented, and I have a compulsion for learning new things. It's really more of a
		condition, but I've learned to harness it!
	</p>
	<p>
		Because I've had the privilege of working in a small agency setting for much of my career, I've learned how to
		pick things up quickly, and I'm used to wearing many hats at times. I've accumulated an unusual level of
		expertise in many areas, and as a result, I'm uniquely well-equipped to manage and execute projects across
		disparate disciplines at a very high level. I've managed a team as large as 7, but I've also produced
		large-scale international projects all on my own.
	</p>
	<p>
		To briefly elaborate on my experience: Early in my career I organized and directed fashion photoshoots for a
		regional luxury publication, where I also designed print layouts, liased with advertising partners, and managed
		a roster of editorial photographers.
	</p>
	<p>Later on, I joined the aforementioned design agency, where I became skilled with 3D CAD programs and designed,
		modelled, and rendered in-store merchandising displays for retailers like Best Buy, Target, and Walmart for many
		years.
	</p>
	<p>
		As a front-end developer since before ChatGPT existed, I built interactive display ads for Intel, responsive
		email templates for Microsoft 365, landing pages for Windows and Xbox, and bespoke marketing kits for social
		media influencers, among many other projects.
	</p>
	<p>
		From a technical perspective my wheelhouse is big, but I also work hard to understand my clients and their
		needs. I know that a hard-working, dedicated operator with the experience to ask the right questions, set
		expectations and communicate properly—then deliver reliably—can be invaluable. This is who I am, and I'd love
		the opportunity to work with you.
	</p>
	<p>
		New challenges excite me, and I look forward to learning about yours!
	</p>
	<p class="mt-3 mb-5 ml-auto mr-10 text-right">
		— Eric
	</p>
</section>