<div id="featureBanner" data-collapsed="true"
    class="overflow-hidden relative mx-auto mb-8 flex w-full max-w-screen-md flex-col gap-6 ">
    <div class="flex gap-2 pl-6 select-none">
        <p class="font-italic text-2xs">Flexible? Check out my C2C site</p>
        <div class="h-6 w-6 -mt-2">{{>c2c_cta}}</div>
    </div>
    <iframe src="https://genuine-beignet-11e35b.netlify.app" frameborder="0" class="md:rounded-2xl"></iframe>
</div>