<div id="fomoModal" data-collapsed="true" class="portfolioModal modalWrap p-0 md:p-6 bg-black sm:bg-transparent"
    style="display: none; opacity: 0;">
    <div id="fomoModalInner"
        class="modalInner bg-black p-6 flex justify-center items-center w-[100dvw] h-full md:w-[90dvw] md:h-[90dvh] md:border md:border-neutral-400">
        <div class="closeModalBtn absolute z-[500] top-0 right-0  font-icons text-4xl text-white" style="color: white">
            &#59540;</div>
        <div id="fomoLeftArrow"
            class="leftArrowWrap absolute left-0 top-0 bottom-0 pl-3 pr-[10dvw] flex items-center justify-center z-[300]">
            <button class="p-0 text-white rounded-l-md">
                <span class="font-icons text-4xl">&#59243;</span>
            </button>
        </div>
        <div id="fomoRightArrow"
            class="rightArrowWrap absolute right-0 top-0 bottom-0 pr-3 pl-[10dvw] flex items-center justify-center z-[300]">
            <button class="p-0 text-white rounded-r-md">
                <span class="font-icons text-4xl">&#59244;</span>
            </button>
        </div>
        <div id="fomoCarouselInner" class="relative flex justify-center items-center gap-4 w-[90dvw] h-[90dvh]"></div>

        <button id="fomoMuteBtn" class="fomoMuteBtn font-icons text-4xl text-white" type="button">
            &#59215;
        </button>
    </div>
</div>