<header class="relative container w-full mx-auto bg-ms-blue text-white max-w-screen-md text-left p-4 px-6 mb-16">
    {{> headshot}}

    <h1 class="uppercase mb-2">Eric Fletcher</h1>
    <div class="w-full overflow-hidden">
        <div id="headerTitle" class="flex w-[2000px] leading-tight ">
        </div>
    </div>
</header>