<div
    class="absolute top-0 right-0 mt-36 xxs:mt-18 xs:mt-20 sm:mt-14 md:m-4 w-[120px] h-[120px] xxs:w-[130px] xxs:h-[130px] sm:w-[150px] sm:h-[150px] md:w-[160px] md:h-[160px] rounded-full overflow-hidden z-[40] drop-shadow-xl">
    <img src="/headshot.jpg" class="object-cover object-center w-full h-full" alt="">
</div>