<div id="headshot"
	class="absolute top-0 right-0 z-[60]  mt-38 xxs:mt-24 xs:mt-20 sm:mt-4 h-[120px] w-[120px] overflow-hidden rounded-full drop-shadow-xl xxs:h-[140px] xxs:w-[140px] xs:h-[150px] xs:w-[150px] sm:right-0 m-4 sm:h-[170px] sm:w-[170px]">
	<img src="/headshot.jpg" class="h-full w-full object-cover object-center" alt="" />
</div>