<div class="container w-full mx-auto bg-ms-blue text-white max-w-screen-md text-left p-4">
    <h1 class="uppercase mb-2">Eric Fletcher</h1>
    <h4 class="leading-tight">Multidisciplinary UX / UI Rich Media Designer / Developer </h4>
</div>