<div
    class="absolute top-0 right-0 mt-36 xs:mt-20 md:m-4 w-[120px] h-[120px] xs:w-[150px] xs:h-[150px] rounded-full overflow-hidden z-[500] drop-shadow-xl">
    <img src="/headshot.jpg" class="object-cover object-center w-full h-full" alt="">
</div>