<div class="container w-full mx-auto bg-ms-blue text-white max-w-screen-md text-left p-4 mb-16">
    <h1 class="uppercase mb-2">Eric Fletcher</h1>
    <h4 id="headerTitle" class="leading-tight"></h4>
</div>