<header
    class="bg-transparent relative flex flex-col container w-full mx-auto text-white max-w-screen-md text-left p-4 px-6 mb-16">
    {{> headshot}}

    <h1 class="relative uppercase mb-2 z-[50]">Eric Fletcher</h1>
    <div class="relative w-full overflow-hidden z-[50]">
        <div id="headerTitle" class="flex leading-tight ">
            <h2 class="text-base">Director / Designer /&nbsp;Developer</h2>
        </div>
    </div>
    <div id="headerBg"></div>
</header>