<div
    class="absolute top-0 right-4 z-[40] mt-36 h-[120px] w-[120px] overflow-hidden rounded-full drop-shadow-xl xxs:mt-18 xxs:h-[130px] xxs:w-[130px] xs:mt-16 sm:right-0 sm:m-4 sm:h-[160px] sm:w-[160px]">
    <img src="/headshot.jpg" class="h-full w-full object-cover object-center" alt="" />
</div>