<div class="container w-full mx-auto bg-ms-blue text-white max-w-screen-md text-left p-4 mb-16">
    <h1 class="uppercase mb-2">Eric Fletcher</h1>
    <h3 id="headerTitle" class="flex w-[2000px] gap-3 leading-tight">
    </h3>
</div>