<div id="infoBtn"
    class="fixed right-0 bottom-0 z-[400] m-4 grid h-12 w-12 cursor-pointer place-items-center rounded-full bg-white dark:bg-neutral-950 drop-shadow-xl">
    <button type="button" class="font-icons text-2xl">&#59718;</button>
</div>