<div class="infoWrap fixed right-0 bottom-0 z-[400] flex flex-col items-center justify-end space-y-1 drop-shadow-xl">
	{{>themesIcon}}
	<div id="infoBtn"
		class="m-4 grid h-12 w-12 cursor-pointer place-items-center rounded-full bg-white dark:bg-neutral-950">
		<button type="button" class="font-icons text-2xl">&#59718;</button>
	</div>
</div>