<div id="infoModal" data-collapsed="true" class="modalWrap p-6" style="display: none; opacity: 0;"><button type="button"
		class="closeModalBtn">
		&#59540;
	</button>
	<div class="modalInner scrollbar-none h-full max-w-screen-md items-start justify-start overflow-y-scroll text-left">

		<div class="border-b border-b-neutral-400 pb-8 dark:border-b-neutral-700">
			<p class="mb-4">
				You can view this page's source code on
				<a class="githubLink" href="https://github.com/fletch-hub/digital-resume" target="_blank"
					rel="noopener noreferrer" data-track="github">
					GitHub
				</a>
			<p>Download a PDF version of this site
				<a class="pdfLink" href="/portfolio/EricFletcher_Resume_CL_2025-04-02.pdf" target="_blank"
					rel="noopener noreferrer" data-track="pdf">
					here
				</a>
			</p>
			</p>
		</div>

		<h1>
			Privacy Policy
		</h1>
		<p>
			Last Updated: February 2025
		</p>

		<p>
			This Privacy Policy explains how I collect, use, and protect your personal information when you
			visit my website,
			<a href="https://ericfletcher.io">
				https://ericfletcher.io
			</a>
			("Site"). By using the Site, you agree to the terms outlined in this Privacy Policy.
		</p>

		<h2>
			1. Information I Collect
		</h2>

		<h3>
			1.1 Usage Data
		</h3>
		<p>
			I use Google Analytics to collect anonymous information about how visitors use the Site. This
			includes:
		</p>
		<ul class="list-disc pl-6">
			<li>
				Time of visit, links clicked, pages viewed, and other usage data
			</li>
			<li>
				Device type, browser type, and operating system
			</li>
		</ul>
		<p>
			This information helps me improve the Site and enhance the user experience.
		</p>

		<h3>
			1.2 Personal Information
		</h3>
		<p>
			When you use the contact form on the Site, I collect the following personal information:
		</p>
		<ul class="list-disc pl-6">
			<li>
				<strong>
					Email Address:
				</strong>
				Required for responding to your inquiries.
			</li>
		</ul>

		<h2>
			2. How I Use Your Information
		</h2>
		<ul class="list-disc pl-6">
			<li>
				<strong>
					Contact Form Responses:
				</strong>
				I use your email address to respond to inquiries made through the contact form.
			</li>
			<li>
				<strong>
					Analytics and Improvements:
				</strong>
				I use anonymized usage data to evaluate the Site's performance and make improvements based on
				visitor engagement patterns.
			</li>
		</ul>

		<h2>
			3. How I Protect Your Information
		</h2>
		<p>
			I implement security measures to protect your personal information from unauthorized access,
			alteration, or disclosure. However, no method of transmission over the Internet is completely
			secure, and I cannot guarantee absolute security.
		</p>

		<h2>
			4. Information Sharing
		</h2>
		<p>
			I do not sell, trade, or otherwise transfer your personal information to third parties. I may
			share anonymized analytics data with third-party service providers to help improve the Site.
		</p>

		<h2>
			5. Your Rights
		</h2>
		<p>
			Depending on your location, you may have rights regarding your personal information, such as the
			right to access, update, or delete the information I hold about you. If you wish to exercise
			these rights, please reach out to me through the contact form.
		</p>

		<h2>
			6. Changes to This Privacy Policy
		</h2>
		<p>
			I may update this Privacy Policy occasionally. I encourage you to review this page periodically
			for any changes. By continuing to use the Site after changes are made, you accept the updated
			Privacy Policy.
		</p>
	</div>
</div>