<nav>
    <div class="navWrap">
        <button id="hamburgerBtn" class="font-icons text-xl  cursor-pointer ">&#59136;</button>
        <div id="navMenu" data-collapsed="true" style="display: none; height: 0">
            <ul>
                <li data-nav-link="#summary">Summary</li>
                <li data-nav-link="#coverLetter">Cover Letter</li>
                <li data-nav-link="#toolset">Toolset</li>
                <li data-nav-link="#experience">Experience</li>
                <li data-nav-link="#portfolio">Work Samples</li>
            </ul>
        </div>
        <div id="navBtnWrap">
            <a id="linkedInBtn" href="https://www.linkedin.com/in/eric-fletcher-media/" target="_blank" class="">
                <img src="/linkedin.svg" alt="LinkedIn" class="w-6 h-6" />
            </a>
            <button id="contactBtn" class="font-icons text-xl cursor-pointer">&#59157;</button>
            <button id="shareBtn" class="font-icons text-xl cursor-pointer">&#59181;</button>
        </div>
    </div>

</nav>