<div class="container w-full mx-auto max-w-screen-md text-left p-4 flex flex-col gap-6">
    <h2>Summary</h2>
    <p>Multidisciplinary designer and developer with extensive experience in digital ads, social media, websites, mobile
        apps, print &amp; packaging design, 3D&nbsp;modeling &amp; rendering, and presentation design. </p>
    <p>
        Passionate about creating beautiful content and engaging experiences, having delivered high-visibility,
        cross-discipline projects for more than a decade.</p>
    <p>
        Committed to leveraging emerging technologies to deliver innovative solutions and ensure total client
        satisfaction.</p>

    {{> toolset}}
</div>