<div id="portfolioModal" class="modalWrap p-0 md:p-6 bg-transparent">
    <div
        class="modalInner bg-black p-6 flex justify-center items-center w-[100dvw] h-full md:w-[90dvw] md:h-[90dvh]  md:border md:border-neutral-400">
        <div id="fomoLeftArrow"
            class="leftArrowWrap absolute left-0 top-0 bottom-0 pl-3 pr-[10dvw] flex items-center justify-center z-[300]">
            <button class="p-0 text-white rounded-l-md">
                <span class="font-icons text-4xl">&#59243;</span>
            </button>
        </div>
        <div id="fomoRightArrow"
            class="rightArrowWrap absolute right-0 top-0 bottom-0 pr-3 pl-[10dvw] flex items-center justify-center z-[300]">
            <button class="p-0 text-white rounded-r-md">
                <span class="font-icons text-4xl">&#59244;</span>
            </button>
        </div>
        <div id="fomoCarouselInner" class="relative flex justify-center items-center gap-4 w-[90dvw] h-[90dvh]"></div>

    </div>
</div>