<section id="portfolio" data-collapsed="false" class="overflow-visible">
    <div id="portfolioToggle" class="toggler">
        <h2>Work Samples <span id="portfolioCaret" class="inline-block font-icons ml-2">&#59758;</span>
        </h2>
    </div>
    {{> portfolio_item
    snipe="/snipes/campaign_l.svg"
    id="portfolio_winamd"
    img="/portfolio/thumbs/amd.jpg"
    project="Windows AMD Co-Marketing Retail Campaign (2020)"
    role="Creative Director, Design Lead"
    url="https://ericfletcher.io/amd_vse5Dw3g"
    pw="XK4eg2-TeaXv_s9"
    notes="A low-cost campaign asset toolkit for retailers to promote and merchandise OEM
    computers with AMD Ryzen chips. Creative developed using current Windows branding and copy provided by
    the AMD team. Deliverables were required to be OEM- and retailer-agnostic, and were built to be updated and
    customized downstream by different localization teams and retailers."
    }}
    {{> portfolio_item
    snipe="/snipes/banner_l.svg"
    id="portfolio_wintel"
    img="/portfolio/thumbs/wintel.jpg"
    project="Windows Intel Fully-Responsive Banners (2023)"
    role="Developer, Designer"
    url="https://ericfletcher.io/raf_9W11dw9"
    notes="This is one of several banners created for this project. Made for use with an internal localization tool at
    Microsoft that generates hi-res static versions on demand (so bundle size not important). Responsive to any size or
    shape, so long as the logo size is brand-compliant. Layouts meticulously matched to provided creative where
    possible."
    }}
    {{> portfolio_item
    snipe="/snipes/pub_l.svg"
    id="portfolio_azf"
    img="/portfolio/thumbs/azf.jpg"
    project="Arizona Foothills Magazine (Selects / 2013-14)"
    role="Creative Director, Designer, Production Manager"
    url="https://ericfletcher.io/azf_5sgjuy0z"
    pw="XK4eg2-TeaXv_s9"
    notes="Created early on in my career, these are examples of some of the work I did as Creative
    Director at AZ Foothills, and they show off my skills in layout design, as well as my then
    burgeoning ability to delegate and manage creative projects, direct photo shoots, and liaise
    with external partners (advertisers in this case)."
    }}
    {{> portfolio_item
    snipe="/snipes/print_l.svg"
    id="portfolio_vm_surf"
    img="/portfolio/thumbs/vm_surf.jpg"
    project="Surface Worldwide / Best Buy Refresh / Visual Merchandising (2021)"
    role="Creative Director, Designer, 3D Modeling / Rendering"
    url="https://ericfletcher.io/svm_d0jXpsV5"
    pw="CaXhK_i5Pq4YY7_"
    notes="Supervised a team of 4 designers; Responsible for leading reviews, maintaining brand consistency and QA,
    retouching provided hero assets as needed for use in various formats, rendering in-store fixtures with updated
    graphics,
    et al."
    }}
    {{> portfolio_item
    snipe="/snipes/email_l.svg"
    id="portfolio_fletch_crm_aw"
    img="/portfolio/thumbs/fletch_crm_aw.jpg"
    project="FLETCH Awareness Email Campaign (2025)"
    role="Designer, Developer"
    url="https://ericfletcher.io/crm_k0J2A0h"
    notes="Concepting, design, copywriting, and development work done individually. Created with photoshop and the
    MJML node library."
    }}
    {{> portfolio_item
    snipe="/snipes/website_l.svg"
    id="portfolio_bd"
    img="/portfolio/thumbs/birddoginteractive.jpg"
    project="The BirdDog Interactive Website & Branding (2021)"
    role="Designer, Developer"
    url="https://ericfletcher.io/bd_SIJsD38a"
    text="https://birddoginteractive.com"
    notes="Concepting, design, and development work done individually (with the exception of some copywriting and a
    wireframe produced by a talented colleague). Site is built in vanilla HTML/CSS and hosted on a PHP/Apache server."
    }}
    {{!-- {{> portfolio_item
    snipe="/snipes/website_l.svg"
    id="portfolio_fletch"
    img="/portfolio/thumbs/fletch.jpg"
    project="The FLETCH website (2024)"
    role="Designer, Developer"
    url="https://ericfletcher.io/fle_1L6dr4J"
    text="https://fletch.ooo"
    notes="All concepting, design, and development work done individually. Site is created using ReactJS and styled with
    Tailwind; Lottie animations created in After Effects and exported using the Bodymovin extension."
    }} --}}
</section>