<div id="portfolio" data-collapsed="true"
    class="container w-full mx-auto max-w-screen-md text-left flex flex-col gap-6 overflow-hidden">
    <div id="portfolioToggle" class="toggler">
        <h2>Work Samples <img id="portfolioCaret" class="inline h-5 w-5 ml-2 " src="/icons/caret_down_k.svg"
                alt="Expand" />
        </h2>
    </div>

    {{> portfolio_item
    project="The BirdDog Interactive Website (2021)"
    role="Designer, Developer"
    url="https://birddoginteractive.com"
    notes="All concepting, design, and development work done individually (with the exception of some copywriting and a
    wireframe produced by a talented colleague). Site is built in vanilla HTML/CSS and hosted on a PHP/Apache server."
    }}
    {{> portfolio_item
    project="The FLETCH website (2024)"
    role="Designer, Developer"
    url="https://fletch.ooo"
    notes="All concepting, design, and development work done individually. Site is created using ReactJS and styled with
    Tailwind; Lottie animations created in After Effects and exported using the Bodymovin extension."
    }}
    {{> portfolio_item
    project="Windows Intel Fully-Responsive Banners (2023)"
    role="Developer, Designer"
    url="https://677ee5b4b818b800a237d108-raf-demo.netlify.app/"
    notes="This is one of several banners created for this project. Made for use with an internal localization tool at
    Microsoft that generates hi-res static versions on demand (so bundle size not important). Responsive to any size or
    shape, so long as the logo size is brand-compliant. Layouts meticulously matched to provided creative where
    possible."
    }}
    {{> portfolio_item
    project="Surface Best Buy Refresh / Visual Merchandising (2021)"
    role="Creative Director, Designer, 3D Modeling / Rendering"
    url="https://gofile.me/729ww/8orrpg6E0"
    pw="CaXhK_i5Pq4YY7_"
    notes="Supervised a team of 4 designers; Responsible for leading reviews, maintaining brand consistency and QA,
    retouching provided hero assets as needed for use in various formats, rendering in-store fixtures with updated
    graphics,
    et al."
    }}
</div>