<div id="portfolioModal" class="modalWrap p-6">
    <div class="modalInner w-full bg-black p-6 flex justify-center items-center">
        <div id="fomoLeftArrow"
            class="leftArrowWrap absolute left-0 top-0 bottom-0 p-3 flex items-center justify-center z-10">
            <button class="p-0 text-white rounded-l-md">
                <span class="font-icons text-4xl">&#59243;</span>
            </button>
        </div>
        <div id="fomoRightArrow"
            class="rightArrowWrap absolute right-0 top-0 bottom-0 p-3 flex items-center justify-center z-10">
            <button class="p-0 text-white rounded-r-md">
                <span class="font-icons text-4xl">&#59244;</span>
            </button>
        </div>
        <div id="fomoCarouselInner" class="flex items-center gap-4 h-[90dvh]">
            {{> carouselPhone}}
            {{!-- {{> carouselPhone src="/portfolio/social/clouds_10s_1.mp4"}}
            {{> carouselPhone src="/portfolio/social/heartbeat_10s_1.mp4"}}
            {{> carouselPhone src="/portfolio/social/inky_15s_1.mp4"}}
            {{> carouselPhone src="/portfolio/social/crowd1_13s_1.mp4"}} --}}
        </div>

    </div>
</div>