<div class="role mt-6 flex w-full flex-row flex-wrap items-baseline justify-between gap-2 text-left first:mt-0">
	<h4 class="font-avenir-demi">
		{{{job}}}
	</h4>
	<h4 class="font-avenir-demi">
		{{{info}}}
	</h4>
	{{#if (isDefined role_description)}}
	<p class="text-sm">
		{{{role_description}}}
	</p>
	{{/if}}
</div>