<section id="experience" data-collapsed="true" class="overflow-hidden">
    <div id="experienceToggle" class="toggler">
        <h2>Experience <span id="experienceCaret" class="inline-block font-icons ml-2">&#59758;</span>
        </h2>
    </div>
    </h2>
    <div class="flex flex-col w-full max-w-screen-md">
        {{> resume_job job="Microsoft" info="BirdDog Interactive, Scottsdale, AZ"}}
        <div class="nested-col mb-6">
            {{> resume_role job="C2C Collaborator / Developer / Designer" info="Oct 2022 – Present"
            role_description="Cross-discipline marketing campaign production, specializing in web-focused assets using
            innovative
            production methods. Often working individually, responsible for everything from asset build-outs and QC/QA
            to
            project management and client communication."}}
            <p class="italic">Highlights:</p>
            <div class="nested-col">
                {{> resume_highlight project="Windows / Microsoft 365 — Back to School Fully-Responsive Banners FY23"
                text="Take existing static banners in a limited number of sizes, and generate 36 infinitely-responsive
                HTML
                versions for use with an internal localization tool at Microsoft that generated hi-res static versions
                on
                demand. Deliverables were responsive to any size or shape, and layouts were meticulously matched
                to provided creative when possible. Created a novel SCSS framework and development platform for
                rapid iteration, QA and visualization of translated copy strings in each possible size and aspect ratio.
                Working individually, successfully completed project in ~4 weeks. See work samples for a demo."}}
                {{> resume_highlight project="MSN — Creator / Publisher Landing Page Redesign & Localization FY24"
                text="Redesigned existing Creator and Publisher sign-up pages and associated web forms. Using provided
                translations, built each page in 24 languages and published them to a Wordpress CMS using the REST
                API. Deliverables were built with a custom static site generator using Vite and Handlebars in NodeJS,
                including a custom script for ingesting translated copy strings from a provided XLSX document. Liaised
                with 3 separate international dev teams, and successfully completed project on-time and on-budget."}}

                <div class="nested-col blurb text-xs">
                    <p class="italic text-xs">Some skills I learned or improved upon:</p>
                    <ul>
                        <li>OOP / Advanced Programming</li>
                        <li>ReactJS / ElectronJS</li>
                        <li>Backend Engineering / SQL / TypeScript</li>
                        <li>Advanced Git Workflows</li>
                        <li>AI / Diffusion Basics / Python</li>
                        <li>Business Administration</li>
                    </ul>
                </div>
            </div>

            {{> resume_role job="Creative Director, Lead Designer" info="Dec 2018 &ndash; Oct 2022"
            role_description="Supervised a cross-discipline team of designers, animators, and project managers while
            producing
            upstream assets / guidance for international marketing campaigns in the retail channel. Projects were
            typically high-volume and consisted of print assets with 3D rendering & visualization,
            digital landing page & PDP toolkits, display ads, emails, and social media content."}}
            <p class="italic text-sm">Highlights:</p>
            <div class="nested-col">
                {{> resume_highlight project="Surface / Windows / Microsoft 365 — Back to School Campaigns FY20"
                text="Managed the complexities of 3 simultaneous global marketing campaigns during a global pandemic,
                and seamlessly adapted the team to a novel WFH process. In addition to a long list of existing
                responsibilities, served as IT support and managed migration to a cloud-based data solution that kept
                the team connected and collaborating successfully."}}

                <div class="nested-col blurb text-xs">
                    <p class="italic text-xs">Some skills I learned or improved upon:</p>
                    <ul>
                        <li>Presentation and Client Communication</li>
                        <li>People Management / Conflict Resolution</li>
                        <li>Complex Project Management &amp; Organization / Agile Workflows</li>
                        <li>Tailwind/Bootstrap / SASS / Project Scaffolding</li>
                        <li>Figma</li>
                    </ul>
                </div>
            </div>

            {{> resume_role job="Multimedia Designer" info="Jun 2015 &ndash; Dec 2018"
            role_description="2D and 3D design, photo retouching & compositing, dieline
            engineering,
            presentation design, video editing and animation, visual merchandising, digital asset toolkits, et al."}}

            <div class="nested-col blurb text-xs">
                <p class="italic text-xs">Some skills I learned or improved upon:</p>
                <ul>
                    <li>3D Modeling and Rendering</li>
                    <li>Advanced Print Production / Dieline Engineering</li>
                    <li>Motion Graphics / Video Editing</li>
                    <li>Advanced Marketing Concepts</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>
        {{> resume_job job="Arizona Foothills Magazine" info="Scottsdale, AZ"}}
        <div class="nested-col">
            {{> resume_role job="Creative Director, Production Manager, Lead Designer" info="2013 &ndash; 2014"
            role_description="Organized and directed fashion photoshoots (e.g. stylists, photographers, models,
            locations),
            designed magazine
            layouts
            and ads, oversaw print production, designed
            social
            media content and sales materials, managed and directed a team of editorial photographers."}}

            <div class="nested-col blurb text-xs">
                <p class="italic text-xs">Some skills I learned or improved upon:</p>
                <ul>
                    <li>Project Management / Delegation</li>
                    <li>Publication Design</li>
                    <li>Print Production</li>
                </ul>
            </div>
        </div>
        {{!-- {{> resume_job job="Freelance Producer" info="Scottsdale, AZ / Seattle, WA / Los Angeles, CA"}}
        <div class="nested-col">
            {{> resume_role job="Touring musician, Studio Producer, Audio Engineer, Designer" info="2009 &ndash; 2013"
            role_description="Music featured on the radio in several major US markets, toured the southwest as a bassist
            and
            guitarist, produced and engineered several albums, designed promotional art and materials."}}
        </div>
        {{> resume_job job="Arizona State University" info="Tempe, AZ"}}
        <div class="nested-col">
            {{> resume_role job="Undergrad Design / Photography" info="2007 &ndash; 2009"}}
        </div> --}}
    </div>
</section>