<div id="shareModal" data-collapsed="true" class="modalWrap" style="display: none;">
	<div class="modalInner w-full max-w-screen-xxs overflow-hidden">
		<h3 class="self-start">
			Copy URL
		</h3>
		<div class="flex w-full items-center gap-3">
			<input readonly="true" type="text" id="shareLink" value="https://ericfletcher.io"
				class="w-full rounded-xl border border-neutral-300 p-2 dark:border-neutral-600" />
			<button id="copyLink" class="font-icons text-2xl" title="Copy URL">
				&#59592;
			</button>
		</div>
	</div>
</div>