<div id="shareModal" data-collapsed="true" class="modalWrap" style="display: none;">
    <div class="modalInner">
        <h3 class="self-start">Copy URL</h3>
        <div class="flex gap-3 items-center ">
            <input readonly="true" type="text" id="shareLink" value="https://ericfletcher.io"
                class="border rounded-xl w-full p-2" />
            <button id="copyLink" class="font-icons text-2xl" title="Copy URL">&#59592;</button>
        </div>

    </div>
</div>