<section id="summary" data-collapsed="false" class="overflow-hidden">
    <div id="summaryToggle" class="toggler">
        <h2>Summary <span id="summaryCaret" class="inline-block font-icons ml-2">&#59758;</span>
        </h2>
    </div>

    <p>Multidisciplinary designer and developer with extensive experience in digital ads, social media content,
        websites, print &amp; packaging design, 3D&nbsp;modeling &amp; rendering, and presentation design. </p>
    <p>
        Passionate about creating beautiful content and engaging experiences, having delivered high-visibility,
        cross-discipline projects for more than a decade.</p>
    <p>
        Committed to leveraging established and emerging technologies to deliver innovative solutions and ensure total
        client
        satisfaction.</p>
</section>