<section id="summary" data-collapsed="false" class="overflow-hidden">
	<div id="summaryToggle" class="toggler">
		<h2>
			Summary
			<span id="summaryCaret" class="ml-2 inline-block font-icons">
				&#59758;
			</span>
		</h2>
	</div>

	<p>
		Tech-native, multidisciplinary designer and developer with extensive experience producing digital ads, emails,
		social
		media
		content, websites, print assets, packaging, 3D renders &amp; composites, and
		presentations.
	</p>
	<p>
		Passionate about creating beautiful content and engaging experiences, having delivered
		high-visibility, cross-discipline projects for more than a decade.
	</p>
	<p>
		Committed to leveraging established and emerging technologies to deliver innovative solutions and
		ensure total client satisfaction.
	</p>
</section>