<section id="toolset" data-collapsed="false" class="overflow-hidden">
	<div id="toolsetToggle" class="toggler">
		<h2>
			Toolset
			<span id="toolsetCaret" class="ml-2 inline-block font-icons">
				&#59758;
			</span>
		</h2>
	</div>
	<div class="griddy toolset">
		<div>
			<div class="flex flex-row">
				<img src="/icons/ps.svg" class="app-icon" alt="" title="Photoshop" />
				<img src="/icons/ai.svg" class="app-icon" alt="" title="Illustrator" />
				<img src="/icons/id.svg" class="app-icon" alt="" title="InDesign" />
				<img src="/icons/ae.svg" class="app-icon" alt="" title="After Effects" />
				<img src="/icons/xd.svg" class="app-icon" alt="" title="XD" />
				<img src="/icons/figma.svg" class="app-icon" alt="" title="Figma" />
			</div>
			<div>
				HTML5 / CSS / JavaScript
			</div>
			<div>
				SASS / SCSS
			</div>
			<div>
				Vite / Webpack
			</div>
			<div>
				Tailwind
			</div>
			<div>
				Bootstrap
			</div>
			<div>
				NodeJS
			</div>
			<div>
				ElectronJS
			</div>
			<div>
				ReactJS
			</div>
			<div>
				GSAP
			</div>
			<div>
				Handlebars / Pug / Mustache
			</div>
		</div>
		<div>
			<div>
				MJML / MailJet / HubSpot / Marketo
			</div>
			<div>
				Lottie Animations
			</div>
			<div>
				CMS: Wordpress, Webflow
			</div>
			<div>
				RESTful API
			</div>
			<div>
				Azure Portal
			</div>
			<div>
				GitHub / DevOps
			</div>
			<div>
				Netlify
			</div>
			<div>
				AI: Huggingface / Diffusers / Python
			</div>
			<div>
				SketchUp / VRay
			</div>
			<div>
				Logic / Ableton / Waves
			</div>
			<div>
				Microsoft Office
			</div>
		</div>
	</div>
</section>