<section id="toolset" data-collapsed="false" class="overflow-hidden">
    <div id="toolsetToggle" class="toggler">
        <h2>
            Toolset
            <span id="toolsetCaret" class="ml-2 inline-block font-icons">
                &#59758;
            </span>
        </h2>
    </div>
    <div class="toolsetWrap">
        <div class="toolsetBox">
            <h4>Design</h4>
            <p class="toolBlurb">Adobe wizard since 2010. Expert in retouching and compositing, vector
                illustration,
                iconography, and layout design.</p>
            <div class="flex flex-row">
                <img src="/icons/ps.svg" class="app-icon" alt="" title="Photoshop" />
                <img src="/icons/ai.svg" class="app-icon" alt="" title="Illustrator" />
                <img src="/icons/id.svg" class="app-icon" alt="" title="InDesign" />
                <img src="/icons/ae.svg" class="app-icon" alt="" title="After Effects" />
                <img src="/icons/xd.svg" class="app-icon" alt="" title="XD" />
                <img src="/icons/figma.svg" class="app-icon" alt="" title="Figma" />
                <img src="/icons/sketch.svg" class="app-icon" alt="" title="Sketch" />
            </div>
            <div class="pillWrap">
                <p>Photoshop</p>
                <p>Illustrator</p>
                <p>InDesign</p>
                <p>After Effects</p>
                <p>XD</p>
                <p>Figma</p>
                <p>FigJam</p>
                <p>Sketch</p>
            </div>
        </div>
        <div class="toolsetBox">
            <h4>Front End</h4>
            <p class="toolBlurb">Expert with complex SCSS frameworks, static site generation,
                interactive UX and
                motion design using JavaScript, CSS, Lottie, and SVG.</p>
            <div class="pillWrap">
                <p>HTML5</p>
                <p>CSS</p>
                <p>JavaScript</p>
                <p>SASS / SCSS</p>
                <p>Tailwind</p>
                <p>Bootstrap</p>
                <p>Vite</p>
                <p>Webpack</p>
                <p>GSAP</p>
                <p>Handlebars</p>
                <p>Pug</p>
                <p>Mustache</p>
                <p>MJML</p>
                <p>MailJet</p>
                <p>HubSpot</p>
                <p>Marketo</p>
                <p>Lottie</p>
                <p>React</p>
                <p>Markup</p>
                <p>WCAG</p>
                <p>Git</p>
                <p>GitHub</p>
                <p>DevOps</p>
            </div>
        </div>
        <div class="toolsetBox">
            <h4>CMS and Back End</h4>
            <p class="toolBlurb">Proficient with popular CMS frameworks like
                WordPress and Webflow, and eCommerce platforms like Shopify and BigCommerce.</p>
            <div class="pillWrap">
                <p>NodeJS</p>
                <p>WordPress</p>
                <p>Webflow</p>
                <p>Shopify</p>
                <p>BigCommerce</p>
                <p>MongoDB</p>
                <p>SQL</p>
                <p>ElectronJS</p>
                <p>React Server Components</p>
                <p>JavaScript</p>
                <p>REST API</p>
                <p>Vite</p>
                <p>Webpack</p>
                <p>Handlebars</p>
                <p>Pug</p>
                <p>Mustache</p>
                <p>Git</p>
                <p>GitHub</p>
                <p>DevOps</p>
                <p>Azure Portal</p>
                <p>Netlify</p>
                <p class="secondarySkill">Python</p>
                <p class="secondarySkill">TypeScript</p>
                <p class="secondarySkill">PHP</p>
            </div>
        </div>
        <div class="toolsetBox">
            <h4>Print, Publication, Visual Merchandising, and Packaging</h4>
            <p class="toolBlurb">Very experienced in designing for print: building dielines, working with spot
                and process colors, pixel densities, bleeds, overprinting, ink saturation, color spaces, et al.</p>
            <div class="pillWrap">
                <p>InDesign</p>
                <p>Illustrator</p>
                <p>Photoshop</p>
                <p>Acrobat</p>
            </div>
        </div>
        <div class="toolsetBox">
            <h4>Presentations</h4>
            <p class="toolBlurb">Able to create captivating visual presentations in PowerPoint and InDesign, applying
                superior communication, typography, and
                information hierarchy.</p>
            <div class="pillWrap">
                <p>PowerPoint</p>
                <p>InDesign</p>
                <p>Keynote</p>
                <p>Google Slides</p>
            </div>
        </div>
        <div class="toolsetBox">
            <h4>CRM and Email</h4>
            <p class="toolBlurb">Outlook wrangler and email client whisperer for many years. Expert at designing and
                coding
                bullet-proof,
                cross-platform compatible emails and templates using tools like MJML and Litmus.
            </p>
            <div class="pillWrap">
                <p>MJML</p>
                <p>Litmus</p>
                <p>Email on Acid</p>
                <p>Handlebars</p>
                <p>Pug</p>
            </div>
        </div>
        <div class="toolsetBox">
            <h4>3D Modeling and Rendering</h4>
            <p class="toolBlurb">Proficient with basic CAD software like SketchUp, as well as advanced
                rendering engines like VRay. Experienced creating realistic renders and composites of indoor
                environments,
                event and tradeshow spaces, fixtures, POP, and product packaging.</p>
            <div class="pillWrap">
                <p>SketchUp</p>
                <p>VRay</p>
                <p>Photoshop</p>
                <p class="secondarySkill">Blender</p>
                <p class="secondarySkill">Rhinoceros</p>
            </div>
        </div>
    </div>

</section>