<div id="toolset" data-collapsed="true"
    class="relative container w-full mx-auto max-w-screen-md text-left flex flex-col gap-6 overflow-hidden cursor-pointer">
    <div id="toolsetToggle" class="toggler">
        <h2>Toolset <img id="toolsetCaret" class="inline h-5 w-5 ml-2 " src="/icons/caret_down_k.svg" alt="Expand" />
        </h2>
    </div>
    <div class="griddy toolset">
        <div>
            <div>HTML5 / CSS / JavaScript</div>
            <div>SASS / SCSS</div>
            <div>Vite / Webpack</div>
            <div>Tailwind</div>
            <div>Bootstrap</div>
            <div>NodeJS</div>
            <div>ElectronJS</div>
            <div>ReactJS</div>
            <div>MJML / MailJet</div>
            <div>GSAP</div>
            <div>Handlebars / Pug / Mustache</div>
            <div>MySQL / MonogoDB</div>
        </div>
        <div>
            <div>Adobe CC Suite: Photoshop, Illustrator, InDesign, After Effects, Premier, XD, etc.</div>
            <div>Figma</div>
            <div>Lottie Animations</div>
            <div>CMS: Wordpress, Webflow</div>
            <div>RESTful API</div>
            <div>Azure Portal</div>
            <div>GitHub / DevOps</div>
            <div>Netlify</div>
            <div>Stable Diffusion / Python</div>
            <div>SketchUp / VRay</div>
            <div>Logic / Ableton / Waves</div>
            <div>Microsoft Office</div>
        </div>
    </div>
</div>