@import "tailwindcss";
@import "./fonts.css";
@plugin 'tailwind-scrollbar';

@config "../../tailwind.config.mjs";
@theme {
  --font-avenir-regular: "AvenirNextLTPro-Regular", sans-serif;
  --font-avenir-demi: "AvenirNextLTPro-Demi", sans-serif;
  --font-avenir-bold: "AvenirNextLTPro-Bold", sans-serif;
  --font-bayon: "Bayon-Regular", sans-serif;
  --color-ms-blue: #0078d4;

  --text-9xl: 8rem;
  --text-7xl: 5.25rem;
  --text-5xl: 3rem;
  --text-4xl: 2.25rem;
  --text-3xl: 1.875rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --breakpoint-sm: 492px;
  --breakpoint-md: 680px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

html {
  @apply font-avenir-regular;
  text-wrap: pretty;
}

#mainWrap {
  @apply absolute inset-0 bg-neutral-50 text-neutral-600 text-center overflow-y-scroll scrollbar-none;
  @apply [&>div:not(:first-of-type)]:mb-10;
  @apply p-8 sm:p-16;
}

h1 {
  @apply text-5xl sm:text-6xl font-bayon;
}

h2 {
  @apply text-xl sm:text-2xl font-avenir-bold;
}

h3 {
  @apply text-lg sm:text-xl font-avenir-demi;
}

h4 {
  @apply text-sm font-avenir-bold;
}

p {
  @apply font-avenir-regular leading-relaxed;
}

a {
  @apply underline;
}

.dropcap {
  @apply first-letter:float-left first-letter:text-9xl first-letter:pr-3 first-letter:font-bayon;
  @apply first-line:uppercase first-line:font-avenir-demi;
}

.griddy {
  @apply text-left;
  div {
    @apply divide-y divide-neutral-300;
    div {
      @apply flex flex-col justify-center;
      @apply p-4;
      @apply even:bg-neutral-100;
    }
  }
}

.griddy.toolset {
  @apply w-full max-w-screen-md grid grid-cols-1 sm:grid-cols-2
  text-left divide-y sm:divide-y-0 border border-neutral-300 sm:divide-x divide-neutral-300 text-sm;

  div {
    @apply min-h-20;
  }
}

.label {
  @apply p-4;
}
.content {
  @apply p-4;
}

.label {
  @apply basis-1/6 min-w-[75px] border-r border-r-neutral-300;
  p {
    @apply text-xs;
  }
}
.content {
  @apply text-xs basis-5/6;
  p {
    @apply text-xs;
  }
}

.nested-col {
  @apply flex flex-col items-start text-left border-l border-l-neutral-300 pl-4 gap-3;
  &.blurb {
    @apply border bg-neutral-100 rounded-2xl p-4 gap-3 border-neutral-300 w-full;
  }
}

.toggler {
  @apply w-full cursor-pointer pb-3 border-b border-b-neutral-300;
}
