@theme {
	--font-avenir-regular: "AvenirNextLTPro-Regular", sans-serif;
	--font-avenir-demi: "AvenirNextLTPro-Demi", sans-serif;
	--font-avenir-bold: "AvenirNextLTPro-Bold", sans-serif;
	--font-bayon: "Bayon-Regular", sans-serif;
	--font-italic: "Playfair-Italic", serif;
	--font-icons: "mwf-icons", sans-serif;
	--color-ms-blue: #0078d4;

	--text-9xl: 8rem;
	--text-7xl: 5.25rem;
	--text-5xl: 3rem;
	--text-4xl: 2.25rem;
	--text-3xl: 1.875rem;
	--text-2xl: 1.5rem;
	--text-xl: 1.25rem;
	--text-lg: 1.125rem;
	--text-base: 1rem;
	--text-xs: 0.875rem;
	--text-2xs: 0.75rem;
	--text-3xs: 0.575rem;

	--breakpoint-xxs: 300px;
	--breakpoint-xs: 492px;
	--breakpoint-sm: 576px;
	--breakpoint-md: 728px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
}
