.icon-input {
	@apply hidden;
}

.icon-label {
	@apply absolute inset-0 cursor-pointer;
}

.themeIconWrap {
	@apply relative h-12 w-12 overflow-hidden rounded-full bg-white dark:bg-neutral-950;
}

.themeIcon {
	position: absolute;
	top: 14px;
	left: 14px;
	width: 55px;
	fill: #111;
	transition:
		left 0.3s ease-in-out,
		fill 0.3s;
}

.icon-input:checked + .themeIcon {
	left: -22px;
	fill: #fff;
}
