.icon-input {
	@apply hidden;
}

.icon-label {
	@apply absolute inset-0 cursor-pointer;
}

.themeIconWrap {
	@apply relative h-12 w-12 overflow-hidden rounded-full bg-white dark:bg-neutral-950;
}

.svgFill {
	@apply fill-[#111];
	@apply dark:fill-[#fff];
	transition: fill 0.3s;
}

.themeIcon {
	position: absolute;
	top: 17px;
	left: 17px;
	width: 55px;
	transition: left 0.3s ease-in-out;
}

.icon-input:checked + .themeIcon {
	left: -20px;
}
